{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <h1>New contributor</h1>

        <form action="/contributors/" method="post">
            <div class="label">
                <p><label for="first_name">What is your first name?</label></p>
                <input type="text" id="first_name" name="first_name" placeholder="Your first name" required autofocus>
            </div>
            <div class="label">
                <p><label for="last_name">Your last name?</label></p>
                <input type="text" id="last_name" name="last_name" placeholder="Your last name" required>
            </div>
            <div class="label">
                <p><label for="age">How old are you?</label></p>
                <input type="text" id="age" name="age" placeholder="Your Age" required>
            </div>
            <div class="label">
                <p><label for="profession">What is your profession?</label></p>
                <input type="text" id="profession" name="profession" placeholder="Your Profession" required>
            </div>
            <div class="label">
                <p><label for="address">Where do you live?</label></p>
                <input type="text" id="address" name="address" placeholder="Your Town or City" required>
            </div>
                <button class="add-button" type="submit">Create profile</button>
        </form>

</article>
{% endblock %}