{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <h1>{{contributor.first_name}} {{contributor.last_name}}</h1>

    <section class="link-button">
        <a href="/contributors/{{contributor.id}}/edit/">Edit</a>
    </section>

        <div>
            <p>{{contributor.age}} years old, {{contributor.address}}, {{contributor.profession}}</p>
        </div>
        <div>
            {% if charities %}
                <p>Supports</p>
            {% endif %}
            {% for charity in charities %}
                <a href="/charities/{{charity.id}}/">{{charity.name}}</a>
            {% endfor %}
        </div>
        <div>
            {% if count_memories == 1 %}
                <p>{{count_memories}} Memory</p>
            {% elif count_memories > 1 %}
                <p>{{count_memories}} Memories</p>
            {% else %}
            {% endif %}
            {% for memory in memories %}
                <a href="/memories/{{memory.id}}/">{{memory.title}}</p>
            {% endfor %}
        </div>
        <div>
            
        </div>
        <form action="/contributors/{{contributor.id}}/delete/" method="post">
            <button class="delete-button">Delete Contributor</button>
        </form>
        <p><a href="/contributors/{{contributor.id}}/edit/">Edit</a></p>

</article>
{% endblock %}