{% extends 'base.html' %}
{% block content %}
<article class="main-contents-contributor">

    <h1>{{contributor.first_name}} {{contributor.last_name}}</h1>
    <p>{{contributor.age}} years old<br>{{contributor.address}}</p>

    <section class="link-button">
        <a href="/contributors/{{contributor.id}}/edit/">Edit</a>
    </section>

    <section>
        {% if count_memories == 1 %}
            <h2>{{count_memories}} Memory</h2>
        {% elif count_memories > 1 %}
            <h2>{{count_memories}} Memories</h2>
        {% else %}
        {% endif %}
        {% for memory in memories %}
            <div class="flex-charities">
                <div class="charity"><a href="/memories/{{memory.id}}/">{{memory.title}}</a></div>
            </div>
        {% endfor %}
    </section>

    <section>
        {% if charities %}
            <h2>Supports</h2>
        {% endif %}
        {% for charity in charities %}
            <div class="flex-charities">
                <div class="charity"><a href="/charities/{{charity.id}}/">{{charity.name}}</a></div>
            </div>
        {% endfor %}
    </section>

    <div class="wrapper">
        {% if tickets %}
            <h2>Ready to go</h2>
        {% endif %}
        {% for ticket in tickets %}
                <div class="ticket-event">
                    <a href="/events/{{ticket.event.id}}/">{{ticket.event.name}}</a> +
                    <a href="/charities/{{ticket.event.charity.id}}/">{{ticket.event.charity.name}}</a>
                </div>
                <div class="ticket_event-float">
                    <form action="/tickets/{{ticket.id}}/delete/" method="post">
                        <button class="unbook-button">Remove</button>
                    </form>
                </div>
        {% endfor %}
    </div>

        <form action="/contributors/{{contributor.id}}/delete/" method="post">
            <button class="delete-button">Delete contributor</button>
        </form>

</article>
{% endblock %}