{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <h1>Memories to read</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <section class="link-button">
        <a href="/memories/new/">Contribute</a><a href="/contributors/">All contributors</a>
    </section>

</article>
    {% for memory in memories %}
        <div class="flex-memories">
            <div class="memory">
                <div class="memory-date">{{memory.convert_date()}}</div>
                <div class="memory-title"><a href="/memories/{{memory.id}}">{{memory.title}}</a></div>
                <div class="memory-contributor"><a href="/contributors/{{memory.contributor.id}}">{{memory.contributor.first_name}} {{memory.contributor.last_name}}</a></div>
            </div>
        </div>
    {% endfor %}

{% endblock %}