{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <section class="link-button">
        <p>Not a contributor yet?</p>
        <a href="/contributors/new/">Create an account</a>
    </section>

    <h1>New Memory</h1>

        <form action="/memories/" method="post">
            <div class="label">
                <p><label for="title">Write a title</label></p>
                <input type="text" id="title" name="title" placeholder="Your title" required>
            </div>
            <div class="label">
                <p><label for="contributor">Who are you?</label></p>
                <select id="contributor" name="contributor_id">
                    {% for contributor in contributors %}
                    <option value="{{contributor.id}}">{{contributor.first_name}} {{contributor.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="label">
                <p><label for="story">Write a wee bit more about your story</label></p>
                <textarea id="story" name="story" placeholder="Your story" required></textarea>
            </div>
            <div class="label">
                <p><label for="date">When did your story happen?</label></p>
                <input type="date" id="date" name="date" placeholder="The date" required>
            </div>
            <div class="label">
                <p><label for="charity">Charity you would like to support</label></p>
                <select id="charity" name="charity_id">
                    {% for charity in charities %}
                    <option value="{{charity.id}}">{{charity.name}}</option>
                    {% endfor %}
                </select>
            </div>
                <button class="add-button" type="submit">Publish</button>
        </form>

</article>
{% endblock %}