{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <section class="link-button">
        <a href="/contributors/{{memory.contributor.id}}/">{{memory.contributor.first_name}} {{memory.contributor.last_name}}</a>
        +
        <a href="/charities/{{memory.charity.id}}/">{{memory.charity.name}}</a>
    </section>

    <h1>{{memory.title}}</h1>
    <h3>{{memory.convert_date()}}</h3>

    <p class="story">{{memory.story}}</p>

    <section class="link-button">
        <a href="/memories/{{memory.id}}/edit/">Edit</a>
    </section>

    <form action="/memories/{{memory.id}}/delete/" method="post">
        <button class="delete-button">Delete Memory</button>
    </form>

</article>
{% endblock %}