{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <h1>Edit your charity</h1>

        <form action="/charities/{{charity.id}}/" method="post">
            <div class="label">
                <p><label for="name">What is the name of your charity?</label></p>
                <input type="text" id="name" name="name" value="{{charity.name}}" required autofocus>
            </div>
            <div class="label">
                <p><label for="description">Tell us a wee bit more about what you do</label></p>
                <textarea id="description" name="description" value="{{charity.description}}" required></textarea>
            </div>
            <div class="label">
                <p><label for="website">Where can you show your actions?</label></p>
                <input type="text" id="website" name="website" value="{{charity.website}}" required>
            </div>
                <button class="add-button" type="submit">Edit your charity</button>
        </form>

</article>
{% endblock %}