{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <h1>Charities to support</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
    <section class="charities-list">

        {% for charity in charities %}
            <div class="flex-charities">
                <div class="charity"><a href="/charities/{{charity.id}}">{{charity.name}}</a></div>
            </div>
        {% endfor %}
    
    </section>

    <section class="link-button">
        <a href="/charities/new/">New Charity</a>
    </section>

</article>
{% endblock %}