{% extends 'base.html' %}
{% block content %}
    <h1>New Charity</h1>

        <form action="/charities/" method="post">
            <div>
                <p><label for="name">What is the name of your organisation?</label></p>
                <input type="text" id="name" name="name" placeholder="Name" required autofocus>
            </div>
            <div>
                <p><label for="description">What your organisation do?</label></p>
                <textarea id="description" name="description" placeholder="Description" required></textarea>
            </div>
            <div>
                <p><label for="website">What is your website?</label></p>
                <input type="text" id="website" name="website" placeholder="Website" required>
            </div>
            <div>
                <button type="submit">Add your charity</button>
            </div>
        </form>

{% endblock %}