{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    {% if charity.name == "NHS Charities Together" %}
        <img src="/static/images/logo/nhs.png" height="150" style="padding-bottom:20px">
    {% elif charity.name == "Shelter Scotland" %}
        <img src="/static/images/logo/shelter.png" height="150" style="padding-bottom:20px">
    {% elif charity.name == "Mind" %}
        <img src="/static/images/logo/mind.png" height="150" style="padding-bottom:20px">
    {% else %}
        <h1>{{charity.name}}</h1>
    {% endif %}

    <p>{{charity.description}}</p>

    <section class="link-button">
        <a href="{{charity.website}}" target="_blank" rel="noopener noreferrer">Discover more</a>
        <a href="/charities/{{charity.id}}/edit/">Edit</a>
    </section>

    {% if events %}
    <section class="events">
        <h2>Upcoming events</h2>
        {% for event in events %}
            <div>
                <h3>{{event.name}}</h3>
                <p>{{event.description}}</p>
                <p>{{event.convert_date()}}</p>
            </div>
        {% endfor %}
    </section>
    {% endif %}


        <div>
            {% if count_contributors == 1 %}
                <p>{{count_contributors}} Supporter</p>
            {% elif count_contributors > 1 %}
                <p>{{count_contributors}} Supporters</p>
            {% else %}
            {% endif %}
            {% if memories %}
                <p>Supported by</p>
            {% endif %}
            {% for memory in memories %}
                <p><a href="/contributors/{{memory.contributor.id}}/">{{memory.contributor.first_name}} {{memory.contributor.last_name}}</a></p>
                <p><a href="/memories/{{memory.id}}/">{{memory.title}}</a></p>
            {% endfor %}
        </div>

        <form action="/charities/{{charity.id}}/delete/" method="post">
            <button class="delete-button">Delete Charity</button>
        </form>

</article>
{% endblock %}