{% extends 'base.html' %}
{% block content %}
<article class="charities">

    {% if charity.name == "NHS Charities Together" %}
        <img src="/static/images/logo/nhs.png" height="150" style="padding-bottom:20px">
    {% elif charity.name == "Shelter Scotland" %}
        <img src="/static/images/logo/shelter.png" height="150" style="padding-bottom:20px">
    {% elif charity.name == "Mind" %}
        <img src="/static/images/logo/mind.png" height="150" style="padding-bottom:20px">
    {% else %}
        <h1>{{charity.name}}</h1>
    {% endif %}

        <p>{{charity.description}}</p>

        <section class="add-button">
            <a href="{{charity.website}}" target="_blank" rel="noopener noreferrer">Discover more</a><a href="/charities/{{charity.id}}/edit/">Edit</a>
        </section>

        <div>
            {% if count_contributors == 1 %}
                <p>{{count_contributors}} Supporter</p>
            {% elif count_contributors > 1 %}
                <p>{{count_contributors}} Supporters</p>
            {% else %}
            {% endif %}
            {% if memories %}
                <p>Supported by</p>
            {% endif %}
            {% for memory in memories %}
                <p><a href="/contributors/{{memory.contributor.id}}/">{{memory.contributor.first_name}} {{memory.contributor.last_name}}</a></p>
                <p><a href="/memories/{{memory.id}}/">{{memory.title}}</a></p>
            {% endfor %}
        </div>
        <div>
            {% for event in events %}
                <p>{{event.name}}</p>
                <p>{{event.description}}</p>
                <p>{{event.convert_date()}}</p>
            {% endfor %}
        </div>

        <form action="/charities/{{charity.id}}/delete/" method="post">
            <button>Delete Charity</button>
        </form>

</article>
{% endblock %}