{% extends 'base.html' %}
{% block content %}
    <h1>{{charity.name}}</h1>
        <div>
            <p>{{charity.description}}</p>
            <a href="{{charity.website}}" target="_blank" rel="noopener noreferrer">Discover more</a>
        </div>
        <div>
            {% if memories %}
                <p>Supported by</p>
            {% endif %}
            {% for memory in memories %}
                <p><a href="/contributors/{{memory.contributor.id}}/">{{memory.contributor.first_name}} {{memory.contributor.last_name}}</a></p>
                <p><a href="/memories/{{memory.id}}/">{{memory.title}}</a></p>
            {% endfor %}
        </div>
        <form class="delete-form" action="/charities/{{charity.id}}/delete/" method="post">
            <button>Delete Charity</button>
        </form>
        <p><a href="/charities/{{charity.id}}/edit/">Edit</a></p>
{% endblock %}