<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Stories - {{title}}</title>
</head>
<body>
    <div id='logo'>
        <a href="/">Covid Stories</a>
    </div>
    <nav>
        <ul>
            <li><a href="/memories/">Memories</a></li>
            <li><a href="/contributors/">Contributors</a></li>
            <li><a href="/charities/">Charities</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>