{% extends 'base_index.html' %}
{% block content %}
<section class="count_total">
    <div>
        {% if count_memories == 1 %}
            <p>{{count_memories}} memory</p>
        {% elif count_memories > 1 %}
            <a href="/memories/">{{count_memories}} memories</a>
        {% else %}
        {% endif %}
    </div>
    <div>
        {% if count_memories == 1 %}
            <p>{{count_memories}} charity</p>
        {% elif count_memories > 1 %}
            <a href="/charities/">{{count_charities}} charities</a>
        {% else %}
        {% endif %}
    </div>
    <div>
        {% if count_memories == 1 %}
            <p>{{count_memories}} contributor</p>
        {% elif count_memories > 1 %}
            <a href="/contributors/">{{count_contributors}} contributors</a>
        {% else %}
        {% endif %}
    </div>
</section>
{% endblock %}