{% extends 'base.html' %}
{% block content %}
<article>
		
    <header style="background-image:url(/static/images/)">
        <div class="article-header-in">
                    
            <div class="container">
                <div class="sixteen columns">
                    <h2 class="article-title">Share your memories</h2>
                    <h4 class="article-subtitle">Support a charity</h4>
                </div>
            </div>

        </div>
    </header>

    
        <p>About</p>
    

    <section class="count_total">
        <ul>
            <li><a href="/memories/">{% if count_memories == 1 %}{{count_memories}} memory{% elif count_memories > 1 %}{{count_memories}} memories{% else %}{% endif %}</a></li>
            <li><a href="/charities/">{% if count_charities == 1 %}{{count_charities}} charity{% elif count_charities > 1 %}{{count_charities}} charities{% else %}{% endif %}</a></li>
            <li><a href="/contributors/">{% if count_contributors == 1 %}{{count_contributors}} contributor{% elif count_contributors > 1 %}{{count_contributors}} contributors{% else %}{% endif %}</a></li>
        </ul>
    </section>

</article>
{% endblock %}