{% extends 'base.html' %}
{% block content %}
<article class="main-contents">

    <section class="link-button">
        <a href="/charities/{{event.charity.id}}/">{{event.charity.name}}</a>
    </section>
    
    <h1>{{event.name}}</h1>
    <h3>{{event.convert_date()}}</h3>
    <p>{{event.description}}</p>

    <section class="link-button">
        <a href="/events/{{event.id}}/edit/">Edit</a>
        <a href="/tickets/new/">Book</a>
    </section>

    <h2>Join us</h2>
    {% for ticket in tickets %} 
        {% if ticket.event.id == event.id %}
            <div class="flex-charities">
                <div class="events-item"><a href="/contributors/{{ticket.contributor.id}}/">{{ticket.contributor.first_name}} {{ticket.contributor.last_name}}</a></div>
            </div>
        {% endif %}
    {% endfor %}

    <form action="/events/{{event.id}}/delete/" method="post">
        <button class="delete-button">Delete event</button>
    </form>

</article>
{% endblock %}